# Binaries
**/bin/
!vendor/premake/bin
bin/

# Always track premake5.lua files (build configuration)
!**/premake5.lua

# Build artifacts in extern folders
**/extern/**/bin/
**/extern/**/bin-int/
**/extern/**/temp/
**/extern/**/*.vcxproj
**/extern/**/*.vcxproj.filters
**/extern/**/*.vcxproj.user
**/extern/**/*.lib
**/extern/**/*.pdb
**/extern/**/*.obj

# But keep the main extern submodule folders tracked
!**/extern/*/
!**/extern/*/.git

# Temporary build folders
temp/

# GanymedE files
*.log
*.tlog
*.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
vs-chromium-project.txt

# ImGui settings
imgui.ini

*.exe
*.idb
*.idj
*.ilk
*.lib
*.obj
*.pch
*.pdb