[submodule "GanymedEngine/extern/spdlog"]
	path = GanymedEngine/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GanymedEngine/extern/GLFW"]
	path = GanymedEngine/extern/GLFW
	url = https://github.com/thecherno/glfw
