[submodule "GanymedEngine/extern/spdlog"]
	path = GanymedEngine/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GanymedEngine/extern/GLFW"]
	path = GanymedEngine/extern/GLFW
	url = https://github.com/thecherno/glfw
[submodule "GanymedEngine/extern/imgui"]
	path = GanymedEngine/extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "GanymedEngine/extern/glm"]
	path = GanymedEngine/extern/glm
	url = https://github.com/g-truc/glm
